body {
  background-color: burlywood;
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

header {
  display: block;
  border: thin solid black;
  background-color: rgb(224, 192, 152); 
  width: 75%;
  margin: 0 auto;
}

#header-salmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 30%;
  height: 30%;
}

h1 {
  text-align: center;
  color: rgb(70, 27, 17);
  font-family: 'Manrope', sans-serif;
  padding: 15px;
  margin: auto;
  width: 75%;

}

h2 {
  font-family: 'Manrope', sans-serif;
  border: thin solid black;
  padding: 15px;
  margin: auto;
  width: 25%;
  text-align: center;
  color: rgb(70, 27, 17);
  background-color: rgb(224, 192, 152);
}

