body {
  background-color: rgb(244, 216, 184);
  font-family: 'Helvetica', 'Arial', sans-serif;
  text-align: center;
}

header {
  display: block;
  border: 2px solid rgb(70, 27, 17);
  background-color: rgb(247, 228, 202);
  width: 95%;
  margin: 0 auto;
}

#header-salmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 30%;
  height: 30%;
}

h1 {
  text-align: center;
  color: rgb(70, 27, 17);
  font-family: 'Manrope', sans-serif;
  padding: 15px;
  margin: auto;
  width: 75%;

}

h2 {
  font-family: 'Manrope', sans-serif;
  border: thin solid black;
  padding: 15px;
  margin: auto;
  width: 25%;
  text-align: center;
  color: rgb(70, 27, 17);
  background-color: rgb(224, 192, 152);
}

.sub-banner {
  display: flex;
  background-color: rgb(247, 228, 202);
  border: 2px solid rgb(70, 27, 17);
  margin: 10px auto;
  align-items: center;
  justify-content: space-evenly;
  object-fit: cover;
  width: 95%;
  height: 150px;
  overflow: hidden;
}

#three-fish {
  max-width: 100%;
  max-height: 100%;
  mix-blend-mode: multiply;
}

#cutter {
  border-radius: 50%;
  border: 2px solid rgb(70, 27, 17);
  max-width: 100%;
  max-height: 100%;
}

#shirt {
  max-width: 100%;
  max-height: 100%;
  mix-blend-mode: multiply;
}




